/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
    .swiper-pagination-bullet-active {
        background: transparent !important;
        border: 1px solid red;
        height: 12px;
        width: 12px;
    }
    
    .swiper-pagination-bullet {
        background: black;
        opacity: 1;
        height: 12px;
        width: 12px;
    }
}

/* MOBILE VIEW */
@media screen and (max-width: 1023px) {
    .swiper-pagination-bullet-active {
        background: transparent !important;
        border: 1px solid red;
        height: 9px;
        width: 9px;
    }
    
    .swiper-pagination-bullet {
        background: black;
        opacity: 1;
        height: 9px;
        width: 9px;
    }
}