.embla {
  /* max-width: 52.5rem; */
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 60%;
  min-width: 590px;
  margin-block: 5vw;
}
.embla__viewport {
  overflow: hidden;
  box-shadow: 0 15px 40px 10px #999;
  min-width: 500px;
  margin: 0;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: none;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 5rem;
  height: 5rem;
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 45%;
  height: 45%;
}
.embla__button--prev {
  margin-left: -5em;
}
.embla__button--next {
  margin-right: -5em;
}
.embla__dots {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
  padding: 1rem 0;
}
.embla__dot {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  margin: 0 0.2rem;
  cursor: pointer;
  border: none;
  background: none;
}
.embla__dot:after {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #53575f;
}
.embla__dot--selected:after {
  background: #53575f;
}
.embla__slide__content {
    width: 100%;
    height: 100%;
    max-width: 100%; /* 800px */
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
    font-weight: 600; /* Avenir LT Std 55 Roman */
    font-size: 1.25vw;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #53575f
}

.embla__slide__content img {
    width: 40%;
    height: 12.5vw;
    object-fit: contain;
    object-position: center;
    margin-bottom: 2rem;
}

.embla__slide__content hr {
    width: 8.75vw;
    border: none;
    height: 1px;
    background-color: #666;
    margin: 2.08333vw auto;
}

.embla__slide__content p {
    line-height: 1;
}

.embla__slide__content a {
    color: black;
    text-decoration: underline;
    display: block;
    margin-top: 0.5rem;
}

.embla__slide__content div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  line-height: 2vw;
  font-weight: 300;
}

.embla__slide__content--testimonial {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 
        "image text"
        "image author-name"
        "image author-title";
    gap: 0.5rem;
    column-gap: 3rem;
    align-items: center;
    color: #53575f;
}

.embla__slide__content--testimonial img {
    grid-area: image;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.embla__slide__content--testimonial div:first-of-type {
    grid-area: text;
    font-size: 1.1rem;
    line-height: 2vw;
    font-weight: 300;
    margin-bottom: 2rem;
}

.embla__slide__content--testimonial h5 {
    grid-area: author-name;
    font-weight: bold;
    font-size: 22.5px;
    color: #53575f;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-align: left;
}

.embla__slide__content--testimonial h6 {
  grid-area: author-title;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.embla__slide__content--testimonial p {
  letter-spacing: normal;
  padding-top: 0;
}

/* .embla__slide__content--testimonial p::before {
    content: "- ";
} */

/* Media query for larger screens (desktop) */
@media screen and (min-width: 1024px) {
    .embla__buttons {
        display: flex;
        position: absolute;
        justify-content: space-between;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
    }

    .embla__button {
        pointer-events: auto;
    }

    .embla__dots {
        display: none;
    }
}

/* Media query for tablet and mobile */
@media screen and (max-width: 1023px) {
    .embla {
        max-width: 100%;
        padding: 0 17px;
        width: 100%;
        min-width: unset;
    }

    .embla__viewport {
        min-width: unset;
    }

    .embla__slide {
        padding: 0;
    }

    .embla__slide__content,
    .embla__slide__content--testimonial {
        padding: 2rem 1.5rem;
    }

    .embla__slide__content {
        font-size: 17px;
    }

    .embla__slide__content img {
        width: 65%;
        height: auto;
    }

    .embla__buttons {
        display: none;
    }

    .embla__dots {
        display: flex;
    }

    .embla__slide__content--testimonial {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "text"
            "author-name"
            "author-title";
    }

    .embla__slide__content--testimonial img {
        width: 150px;
        margin: 0 auto;
    }

    .embla__slide__content--testimonial p,
    .embla__slide__content--testimonial h5 {
        text-align: center;
        line-height: 2;
        margin-top: 20px;
    }
}
